footer{
    background-color: rgb(92, 91, 91);
    color: white;
    text-align: center;
    padding: 10px;
    }
 .container {
     
     background-color: rgb(243, 245, 244);
     color: rgb(10, 10, 10);
      }
