<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ONE PLUS | INDIA</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/mystyle.css" rel="stylesheet">
</head>
<body>
  <header>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" href="/"> ONE PLUS | INDIA  </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
                
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/about">About</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/services">Services</a>
                      </li>
                  </ul>
                      <form class="form-inline my-2 my-lg-0">
                          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
          </div>
      </nav>            
      
  </header>
  
      <div class="row">
     
          <div class="col-md-2 text-center" style="background-color:lavender"><br><b>MODELS</b><br><br>
          <img src="/static/img/op1 new.jpg"><br>One plus one<br><br>
          <img src="/static/img/OP@ new.jpg""><br>One plus Two<br><br>
          <img src="/static/img/OP3 new.jpg"><br>One Plus 3<br>
          </div>
      
          <div class="col-md-8 text-center" style="background-color:lavender    "><br><b>The NEW ONE PLUS 6t</b><br><br>
              <img src="/static/img/OP6 3.jpg">
      
          </div>
          <div class="col-md-2 text-center" style="background-color:lavender"><br><b>ACCESSORIES</b><br><br>
              <img src="/static/img/charger 200 300.png"><br>Charging cable<br><br>
              <img src="/static/img/adapter 200 300.jpg"><br>Adapter<br><br>
              <img src="/static/img/Headset 200 300.jpg"><br>Headset<br>
          </div>
      </div>
  <footer>
        <h6><b>One Plus India, Copyright.</b></h6></b>
  </footer>

</body>
</html>